agm-map {
    height: 700px;
  }
.note { margin-top: 10px; }
.exclamation { color: red; font-weight: 700; }
.error { padding: 15px; color: red; background-color: peachpuff; border: 1px solid red; }
.add_button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 10%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.inputField {
  font-family: 'Comic Sans MS';
  resize: none;
}
.contentSection {
  width: 95%;
  margin-left: 7px;
}