<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="lat" [longitude]="lng" [mapTypeId]='mapType' (mapClick)="addMarker($event.coords.lat, $event.coords.lng)" >
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  
  <agm-data-layer [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="styleFunc"></agm-data-layer>
</agm-map> -->
<ngx-spinner></ngx-spinner>
<div style="height: 750px">
    <x-map #xmap [Options]="_options" [Box]="_box" (MapClick)="_mapClicked($event)"> 
        <x-map-marker *ngFor="let m of _markers_reference; let i=index" [Latitude]="m.latitude" [Longitude]="m.longitude" [IconInfo]="_iconInfo">
            <x-info-box [DisableAutoPan]="true" [Title]="'Reference point ' + i.toString()" [Description]="'Save processed data'">
                <x-info-box-action [Label]="'Save'" (ActionClicked)="_click(i)"></x-info-box-action>
            </x-info-box>
        </x-map-marker>
        <x-map-marker *ngFor="let m of _markers; let i=index" [Latitude]="m.latitude" [Longitude]="m.longitude" [IconInfo]="_iconInfoGreen">
            <x-info-box [DisableAutoPan]="true" [Title]="'My InfoBox ' + i.toString()" [Description]="'Hi, this is the content of the <strong>info window</strong>. It is your responsibility to implement functionality such as close, etc...'">
                <x-info-box-action [Label]="'Click Me'" (ActionClicked)="_click(i)"></x-info-box-action>
            </x-info-box>
        </x-map-marker>

    </x-map>
  </div>
<button class="add_button" (click)=lac(percentageVariance.value,length.value,width.value)>Local Clustering</button> 
    <label>
        Threshold Spectral Distance:
        <input #threshold type="number"  class="inputField"/>
    </label>

<br>
<br>
<button class="add_button" (click)=elac(percentageVariance.value,length.value,width.value)>Extended Local Clustering</button>
<label>
    Percentage Variance Cluster:
    <input #percentageVariance type="number"  class="inputField"/>
</label>
<br>
<br>
<button class="add_button" (click)=specArea(threshold.value,length.value,width.value)>Polygonal Spectral Area</button>
<label>
    Width of region:
    <input #width type="number"  class="inputField"/>
</label>
<br>
<br>
<button class="add_button" (click)=seedPropag(threshold.value)>Seed Propagation</button>
<label>
    Length of region:
    <input #length type="number"  class="inputField"/>
</label>
